%main.collections
  .header-theme

  %section.hero
    .data-container
      .inner
        .meta-data
          Альбомов:
          = @collections.size
          •
          Фотографий:
          = @media.size
        .contacts
          СПб, Кондратьевский пр-кт, д.2, корп.4Б • (812)677-48-47
