%footer
  .data-container
    .footer-middle
      %nav.service
        %span Автосервис
        %ul
          %li
            %a Диагностика автомобиля
          %li
            %a Техническое обслуживание
          %li
            %a Ремонт ходовой части
          %li
            %a Ремонт тормозных систем
          %li
            %a Ремонт двигателей
          %li
            %a Автоэлектрика
      %nav.custom
        %span Тюнинг
        %ul
          %li
            %a Доработка двигателей
          %li
            %a Свап проекты
          %li
            %a Каркасы безопасности
          %li
            %a Выпускные системы
          %li
            %a Настройка ECU
          %li
            %a Кастом
      %nav.contacts
        %span Контакты
        %ul
          %li 195009, Санкт-Петербург, Кондратьевский&nbsp;пр-кт,&nbsp;д.2,&nbsp;корп.4Б
        %ul
          %li
            %a{href: "tel:+79995274847"}+7 (999) 527-48-47
          %li
            %a{href: "tel:+78126774847"}+7 (812) 677-48-47
        %ul
          %li
            e-mail:&nbsp;
            %a{:href => "mailto:welcome@techracing.ru"}welcome@techracing.ru
    %hr
    .footer-lower
      .copyright
        %span © #{Time.now.year} TechRacing
      .location
        %span Санкт-Петербург
